[alias]
    a = commit -a --amend --no-edit
    aliases = config --get-regexp alias
    l =  !git --no-pager log --oneline -5
	ll = log --oneline -10
    fixup = "!f() { \
             TARGET=$(git rev-parse "$1"); \
             git commit --fixup=$TARGET ${@:2}; \
             EDITOR=true git rebase -i --autostash --autosquash $TARGET^; \
             }; f"
	git = !exec git
	list = log --oneline -8
    ; https://blog.filippo.io/git-fixup-amending-an-older-commit/\
    xe = -c rebase.instructionFormat='%s%nexec GIT_COMMITTER_DATE="%cD" git commit --amend --no-edit' rebase -i

[core]
	autocrlf = input
	excludesfile = /Users/tom/.gitignore
	hooksPath = /code/dotfiles/git-hooks
	pager =

[diff]
	indentHeuristic = true

[fetch]
    prune=true

[init]
	defaultBranch = main

[log]
	decorate = auto
    no-pager = true

[merge]
	rebase = true

[pull]
	rebase = true

[push]
	default = simple

[rebase]
	autosquash = true
	autostash = true

[rerere]
	enabled = true

[user]
	email = tom@swirly.com
	name = Tom Ritchford
	signingkey = C735717D9338269C

[submodule]
	fetchJobs = 4
	recurse = true
